<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>983512520537-njerutl6snc0i28caeikp3thsnov9n2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.983512520537-njerutl6snc0i28caeikp3thsnov9n2t</string>
	<key>API_KEY</key>
	<string>AIzaSyC2NeVb1OJtWq_ItutbxB_P334IMFNFUtc</string>
	<key>GCM_SENDER_ID</key>
	<string>983512520537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.syanik.Upful</string>
	<key>PROJECT_ID</key>
	<string>upful-c9f8c</string>
	<key>STORAGE_BUCKET</key>
	<string>upful-c9f8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:983512520537:ios:efd1fed47a88a7da</string>
	<key>DATABASE_URL</key>
	<string>https://upful-c9f8c.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-8568716362855067~5258336040</string>
</dict>
</plist>